@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body{
    font-family: "Noto Sans KR", sans-serif;
}
*{margin: 0;padding: 0;}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.header{
    width: 100%;
    height: 89px;
    border-bottom: 1px solid #e7e7e7;
}
.header .inner{
    width: 1400px;
    height: 89px;
    margin: auto;
}
.header .inner h1{
    float: left;
    margin-right: 120px;
}
.header .inner .gmb{
    float: left;
}
.header .inner .icon{
    float: right;
}
.header .inner .gmb li{
    margin-right: 95px;
    float: left;
    line-height: 89px;
}
.header .inner .gmb .li2{
    margin-right: 67px;
}
.header .inner .gmb .li3{
    margin-right: 50px;
}
.header .inner .gmb .li4{
    margin-right: 85px;
}
.header .inner .gmb .li5 .li{
    margin-right: 85px;
}
.header .inner .gmb .last{
    margin-right: 0;
}
.header .inner .gmb li a{
    font-size: 17px;
    color: #54484c;
    font-weight: 400;
}
.header .inner .gmb li a:hover{
    color: #c40f39;
}
.header .inner .icon li{
    float: left;
    line-height: 89px;
    margin-left: 28px;
}
.header .inner .icon .f{
    margin-left: 0;
    margin-top: 5;
}
.visual{
    width: 100%;
    height: 652px;
    background: url(../imege/visual1.jpg) no-repeat center top;
}



